In [11]:
# --- dependencies and setup ---
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint

### 1st data source: using read_csv to read worldwide cities data

In [12]:
cities_pd = pd.read_csv("./worldcities.csv")
cities_pd.head(20)

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140
5,Shanghai,Shanghai,31.1667,121.4667,China,CN,CHN,Shanghai,admin,22120000.0,1156073548
6,São Paulo,Sao Paulo,-23.5504,-46.6339,Brazil,BR,BRA,São Paulo,admin,22046000.0,1076532519
7,Seoul,Seoul,37.5833,127.0000,"Korea, South",KR,KOR,Seoul,primary,21794000.0,1410836482
8,Mexico City,Mexico City,19.4333,-99.1333,Mexico,MX,MEX,Ciudad de México,primary,20996000.0,1484247881
9,Guangzhou,Guangzhou,23.1288,113.2590,China,CN,CHN,Guangdong,admin,20902000.0,1156237133
10,Beijing,Beijing,39.9050,116.3914,China,CN,CHN,Beijing,primary,19433000.0,1156228865
11,Cairo,Cairo,30.0561,31.2394,Egypt,EG,EGY,Al Qāhirah,primary,19372000.0,1818253931
12,New York,New York,40.6943,-73.9249,United States,US,USA,New York,NaN,18713220.0,1840034016
13,Moscow,Moscow,55.7558,37.6178,Russia,RU,RUS,Moskva,primary,17125000.0,1643318494
14,Bangkok,Bangkok,13.7500,100.5167,Thailand,TH,THA,Krung Thep Maha Nakhon,primary,17066000.0,1764068610
15,Buenos Aires,Buenos Aires,-34.5997,-58.3819,Argentina,AR,ARG,"Buenos Aires, Ciudad Autónoma de",primary,16157000.0,1032717330
16,Shenzhen,Shenzhen,22.5350,114.0540,China,CN,CHN,Guangdong,minor,15929000.0,1156158707
17,Dhaka,Dhaka,23.7161,90.3961,Bangladesh,BD,BGD,Dhaka,primary,15443000.0,1050529279
18,Lagos,Lagos,6.4500,3.4000,Nigeria,NG,NGA,Lagos,minor,15279000.0,1566593751
19,Istanbul,Istanbul,41.0100,28.9603,Turkey,TR,TUR,İstanbul,admin,15154000.0,1792756324

### 2nd data source: applying OpenWeather API to collect weather data for each cities and output to a weather.csv

In [13]:
cities = []
country = []
lat = []
lon = []
temperature = []
humidity = []
cloudiness = []
wind_speed = []
date = []

In [14]:
cities_pd = pd.read_csv("./worldcities.csv")
for i in range(len(cities_pd)):
    city_name = cities_pd.iloc[i]["city_ascii"]
    country_code = cities_pd.iloc[i]["country"]
    
    response = requests.get(f"http://api.openweathermap.org/data/2.5/weather?q={city_name},{country_code}&appid=cc1fc5169c434d0a5df140385c2df47c").json()
    #print(i, response['name'])
    cities.append(response['name'])
    country.append(response['sys']['country'])
    lat.append(response['coord']['lat'])
    lon.append(response['coord']['lon'])
    temperature.append(response['main']['temp_max'])
    humidity.append(response['main']['humidity'])
    cloudiness.append(response['clouds']["all"])
    wind_speed.append(response['wind']['speed'])
    date.append(response['dt'])

KeyError: 'name'

In [ ]:
weather_dict = {
    "City": cities,
    "Country": country,
    "Latitude": lat,
    "Longitude": lon,
    "Max Temp (F)": temperature,
    "Humidity %": humidity,
    "Cloudiness %": cloudiness,
    "Wind Speed (mph)": wind_speed,
    "Date": date
}
weather_data = pd.DataFrame(weather_dict)
weather_data

# Export weather as a CSV
weather_data.to_csv("./Weather_Data.csv", index=False, header=True)

In [ ]:
weather_data.head(30)

In [ ]:
### 3rd data source: applying Google API

In [ ]:
# --- store into variable named hotel_df ---

hotel_df = weather_data[["City", "Country", "Latitude", "Longitude"]].copy()

# --- Add a "Hotel Name" column to the DataFrame with null values ---
hotel_df["Hotel Name"] = np.nan
hotel_df.head()

In [ ]:
# --- set up parameters for querying Google Places API ---
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "keyword": "hotel",
    "radius": 50000,
    "key": "AIzaSyBab3swN04Qol6gcGrbC2zQf77Cz7Ls5_o"}

lat_lon = hotel_df.iloc[1]["Latitude"],hotel_df.iloc[1]["Longitude"]
params["location"] = f"lat_lon"
response = requests.get(base_url, params=params).json()
response